In [1]:
#KNNclassifier
#Import necessary python packages:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


#Assign column names to the dataset
headernames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

#Read dataset to pandas dataframe 
dataset = pd.read_csv("iris.csv", names = headernames)
dataset.head()

     sepal-length   sepal-width   petal-length   petal-width        Class
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa

In [2]:
dataset.head(1)

     sepal-length   sepal-width   petal-length   petal-width    Class
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species

In [3]:
# Drop first row 
# by selecting all rows from first row onwards
# dataset = dataset.iloc[1: , :]
# dataset.drop(dataset[1,:], inplace=True)
dataset.drop(dataset.head(1).index, inplace=True)
dataset.head()

  sepal-length sepal-width petal-length petal-width        Class
1          5.1         3.5          1.4         0.2  Iris-setosa
2          4.9         3.0          1.4         0.2  Iris-setosa
3          4.7         3.2          1.3         0.2  Iris-setosa
4          4.6         3.1          1.5         0.2  Iris-setosa
5          5.0         3.6          1.4         0.2  Iris-setosa

In [4]:
#Data Preprocessing
X = dataset.iloc[:, :-1].values # Excluded last column (class)
y = dataset.iloc[:, 4].values   # only the last column (class)

In [5]:

#Size/dimension of the data matrix (independent/predictor variables)/vector(response/target variable)
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [6]:
# dataset['sepal-length'] = dataset['sepal-length'].astype(float)
# dataset['sepal-width'] = dataset['sepal-width'].astype(float)
# dataset['petal-length'] = dataset['petal-length'].astype(float)
# dataset['petal-width'] = dataset['petal-width'].astype(float)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal-length  150 non-null    object
 1   sepal-width   150 non-null    object
 2   petal-length  150 non-null    object
 3   petal-width   150 non-null    object
 4   Class         150 non-null    object
dtypes: object(5)
memory usage: 7.0+ KB

In [8]:
# divide the data into 70% train and 30% test split. Also, assume initial value (random_state) as 44
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30,random_state=44)

In [9]:

# scaling the data, that is z=(x-xbar)/s. z has nean 0 and variance 1
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [10]:

# Train the model with the help of KNeighborsClassifier class of sklearn 
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5)  # number of neighbour group
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [11]:

# Prediction
y_pred = classifier.predict(X_test)

In [12]:
# Homework/Assignment: prepare the following results manually or by Excel.
# print the results 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)

print("Confusion Matrix:")
print(result)

result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)

result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[17  0  0]
 [ 0 13  0]
 [ 0  2 13]]
Classification Report:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        17
Iris-versicolor       0.87      1.00      0.93        13
 Iris-virginica       1.00      0.87      0.93        15

       accuracy                           0.96        45
      macro avg       0.96      0.96      0.95        45
   weighted avg       0.96      0.96      0.96        45

Accuracy: 0.9555555555555556